h1 {
	text-align: center;
	color: #C81D5B
}
button {
	text-align: center;
	color: #04C9BF;
	background-color: #0F2A7C;
}
p {
	text-align: center;
}
input {
	text-align: center;
}
body {
	text-align: center;
	background-color: #9CA5C1;
}